<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
         printerClass="NyanCat\PHPunit\ResultPrinter"
        >
    <testsuites>
        <testsuite name="Siteatlas Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Johnsn/Siteatlas/</directory>
        </whitelist>
    </filter>
</phpunit>